@media(max-width:767px){
    .columns-content4{
        padding: 10% 8.285% 13.5% 7.714%;
        
    }

    .columns-content3{
        padding: 7.428% 0% 8% 7.714%;
    }

    .text::after{

        left: 370px;

    }

    .poster-title::after{

        left: 5px;
        top: 130px;
    
    }

    .points{
        margin-left: 330px;
        padding-top: 50px;
    }

    .poster-3{

        float: none;
        margin: 0 auto;
        
    }

    .poster-4{

        float: none;
        margin: 0 auto;
        
    }

        
    .banner-colum1{
        width: 50%;
        float: none;
        margin: 0% auto;
        margin-bottom: 7.2%;
        
        
    }

    .poster-1{

        width: 100%;
        height: 754px;
    }

    .footer{
        margin-top: 900px;
        text-align: center;

    }

    .nav-browse{
    
        float: none;
        margin: 0 auto;
        
    }
    
    .nav-shop{
        
        float: none;
        margin: 0 auto;

    }
    
    .nav-contact{
        
        float: none;
        margin: 0 auto;
        
    }
    
    .form{
        text-align: center;  
    }



}