@media(max-width:1023px){
    .header-title {
        bottom: 23%;
        right:0%;
        left:0%;
        text-align: center;
    }

    .header-paragraph {
        bottom: 30%;
        right: 0%; 
        left:0%;
        text-align: center;
    }

    .text::after{

        left: 500px;

    }
    .banner-couple-cita{
        float: none;
        width: 100%;
        margin: 0;
    }

    .cita{
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;
    }
    
    .autor{
        margin:0 auto;
        text-align: center;
        padding-top:30px;
    }
    
    .points{
        margin-left: 460px;
        padding-top: 50px;
    }

    .banner-couple-img  {
        width: 100%;
        float: none;
        margin: 0;

    }

    .columns-content4{
        padding: 7.428% 8.285% 11% 7.714%;
        
    }

    .columns-content3{
        padding: 7.428% 10% 3.8% 7.714%;
    }
    .poster-title::after{

        left: 5px;
        top: 160px;
    
    }

    .poster-3{

        width: 43.978%;
        height: 337px;
        float: left;
        margin-right: 70px;
        margin-top: 50px; 
    }

        
    .banner-colum1{
        width: 50%;
        float: none;
        margin: 0% auto;
        margin-bottom: 7.2%;
        
        
    }

    .banner-colum2{
        width: 70%;
        float: none;
        margin: 0% auto;
    }
    .poster-1{

        width: 100%;
        height: 754px;
    }

    .nav-browse{
    
        
        margin-left:14%;
        
    }
    
    .nav-shop{
        
        margin-right: 14%;

    }
    
    .nav-contact{
        
        margin-right: 14%;
        
    }
    
    .form{
        padding-left: 30%;
        text-align: center;  
    }
    
    .email{

        width: 200px;
        background-color: #f3f4f5;
        padding-top: 4.137%;
        padding-bottom: 4.137%;
        padding-left: 2px;
        border: none;
        color: #c9c7c2;
    
    }
    




}