$white:white;
$black:black;
$pink:#ffeae2;
$gray-light: #eae9e7;
$gray-medium:#f3f4f5;
$shadow: rgba(0, 0, 0, 0.116);
$gray-input:#f2f4f5;
$gray2:#d2d0cc;
$gray3: #c9c7c2;

$fontralaway:'Raleway', sans-serif;
$fontmonserrat: 'Montserrat', sans-serif;
$fonttimes:'Times New Roman', Times, serif;
$fontsquada: 'Squada One', cursive;
$fontarial: Arial, Helvetica, sans-serif;
$fontoswald: 'Oswald', sans-serif;