
.banner-slider{
    background-image: url("../img/3.jpg");
    background-size: cover; 
}

.slider-text{
    font-family:'Raleway', sans-serif;
    padding-top: 202px;
    margin: 0 auto;
    font-size: 60px;
    color: white;
    width: 815qpx;
    text-align: center; 
    font-weight: bold;
}

.slider-text2{
    font-family:'Raleway', sans-serif;
    padding-top: 60px;
    padding-bottom: 166px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.slider-text2 a{
    text-decoration: underline;
}