.banner-columns{
    position: relative;
    width: 100%;
    max-width: 100%;
}
.title-columns{
    font-size: 3.75rem;
    font-family:'Raleway', sans-serif;
    font-weight: bold;
}

.title-columns::after{
    content: "";
    position: absolute;
    left: 0;
    top: 72px;
    height: 2px;
    width: 4.5rem;
    background-color: $black;
}
.colums1{
    width: 50%;
    float: left;
    margin-bottom: 5.714%;
}

.colums2{
    width: 50%;
    float: left;
    margin-bottom: 5.714%;
}
.columns-content1{
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    border-left: 1px solid $gray-light; 
    padding: 7.285% 14.571% 8.428% 7.285%;


    h3{
    font-size: 1.875rem;
    font-family:'Raleway', sans-serif;
    text-transform: uppercase;
    }

    p{
    font-size: 1.25rem;
    font-family:'Raleway', sans-serif;
    }

    i{
    font-size: 1.25rem;
    font-family:'Raleway', sans-serif;
    padding-bottom: 8.7%;
    }
}

.columns-content2{
    border-bottom: 1px solid $gray-light;
    border-left: 1px solid $gray-light; 
    padding: 7.428% 14.285% 6.285% 7.285%;


    h3{
    font-size: 1.875rem;
    font-family:'Raleway', sans-serif;
    text-transform: uppercase;
    }

    p{
    font-size: 1.25rem;
    font-family:'Raleway', sans-serif;
    }

    i{
    font-size: 1.25rem;
    font-family:'Raleway', sans-serif;
    padding-bottom: 8.7%;
    
    }
}
.columns-content3{
    padding: 7.428% 10% 5.071% 7.714%;
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid$gray-light;
    border-left: 1px solid $gray-light;
    border-right: 1px solid$gray-light; 



    h3{
    font-size: 1.875rem;
    font-family:'Raleway', sans-serif;
    text-transform: uppercase;
    }

    p{
    font-size: 1.25rem;
    font-family:'Raleway', sans-serif;
    }

    i{
    font-size: 1.25rem;
    font-family:'Raleway', sans-serif;
    padding-bottom: 8.7%;
    }
}

.columns-content4{
    border-left: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    border-right: 1px solid $gray-light; 
    padding: 7.428% 8.285% 9.5% 7.714%;
    


    h3{
    font-size: 1.875rem;
    font-family:'Raleway', sans-serif;
    text-transform: uppercase;
    }

    p{
    font-size: 1.25rem;
    font-family:'Raleway', sans-serif;
    }

    i{
    font-size: 1.25rem;
    font-family:'Raleway', sans-serif;
    padding-bottom: 8.7%;
    
    }
}

.columns-button{
    text-align: center;
    margin-top: 4.285%;
    margin-bottom: 10.214%;


    a{
    text-decoration: none;
    color: $black;
    padding: 9px 31px 9px 31px;
    border: 3px solid $black;
    font-weight: 900;
    letter-spacing: 0.125rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase

    }
}