.banner-couple{
    padding-bottom: 6.785%;
    max-width: 100%;
    width: 100%;
    
}

.banner-couple-cita{
    background-color: #ffeae2;
    float: left;
    width: 50%;
    height: 643px;
    margin-bottom: 1.428%;
}

.cita{
    font-family:'Raleway', sans-serif;
    font-size: 2.25rem;
    font-weight: bold;
    width: 69.625%;
    margin: 17.75% 15.125% 7.625% 12.5%;
}

.autor{
    font-family:'Raleway', sans-serif;
    font-weight: 100;
    font-size: 2.25rem;
    margin: 0% 52.5% 6.5% 12.5%;
}

.points{
    margin-left: 12%;
}

.banner-couple-img {
    float: left;
    width: 50%;
    height: 651px;
}