body{
    padding: 0;
    margin: 0;
}

.wrapper-externo{
    margin: 0 auto;
    width: 1600px;
    max-width: 100%;
    height: 1000px;
}

.wrapper-interno{
    margin: 0 auto;
    width: 1400px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table; 
}
