.icon-color{
    background-color: #f3f4f5;
    width: 100%;
    max-width: 100%;
}

.copyright{
    float: left;
    padding-top: 2.142%;
    padding-bottom:  2.5%; 
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.social{
    float: right;
    padding-top: 2.857%;
    padding-bottom: 2.5%;
}


.social a {
    float: left;
}

.social a + a{
    padding-left: 33px;
}